<h1>My Page <%= current_user.first_name %> </h1>
<p>This is me writing about stuff on this page</p>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>skills</h1>
<%= @skills.inspect %>

